
.profile-icon {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Projects a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
}

.Projects a:hover {
    transform: scale(1.10);
    transition: 0.5s ease;
}

.Skills .card {
    display: flex;
}

.Skills .card-body {
    min-height: max-content;
}